:root,
[data-theme="light"] {
  --bg: #f3f4f6;
  --surface: #ffffff;
  --surface-soft: #f9fafb;
  --surface-muted: #f1f5f9;

  --text: #111827;
  --muted: #6b7280;
  --muted-strong: #475569;
  --border: #e5e7eb;

  --sidebar-bg: #0f172a;
  --sidebar-text: #f8fafc;
  --sidebar-muted: #94a3b8;
  --sidebar-hover: rgba(30, 41, 59, 0.85);
  --sidebar-active-bg: rgba(30, 41, 59, 0.82);
  --sidebar-active-text: #ffffff;
  --sidebar-active-border: #38bdf8;
  --sidebar-link: #aebbd0;
  --sidebar-link-hover: #f8fafc;
  --sidebar-link-active: #ffffff;

  --topbar-bg: rgba(255, 255, 255, 0.92);
  --topbar-border: #e5e7eb;

  --input-bg: #ffffff;
  --input-border: #d1d5db;
  --input-placeholder: #9ca3af;

  --badge-bg: #f8fafc;
  --badge-text: #475569;
  --badge-border: #e2e8f0;

  --brand-main-color: #e2e8f0;
  --brand-accent-color: #60a5fa;

  [data-theme="light"] {
  --page-title-color: #0f172a;
  --page-subtitle-color: #475569;
}
}

/* DARK */

[data-theme="dark"] {
  --bg: #0f172a;
  --surface: #111827;
  --surface-soft: #1f2937;
  --surface-muted: #0f172a;

  --text: #f9fafb;
  --muted: #cbd5e1;
  --muted-strong: #e2e8f0;
  --border: #334155;

  --sidebar-bg: #020617;
  --sidebar-text: #ffffff;
  --sidebar-muted: #94a3b8;
  --sidebar-hover: rgba(30, 41, 59, 0.85);
  --sidebar-active-bg: rgba(30, 41, 59, 0.82);
  --sidebar-active-border: #38bdf8;
  --sidebar-active-text: #ffffff;
  --sidebar-link: #aebbd0;
  --sidebar-link-hover: #f8fafc;
  --sidebar-link-active: #ffffff;

  --topbar-bg: rgba(15, 23, 42, 0.92);
  --topbar-border: #334155;

  --input-bg: #0f172a;
  --input-border: #475569;
  --input-placeholder: #94a3b8;

  --badge-bg: #1e293b;
  --badge-text: #e2e8f0;
  --badge-border: #334155;

  --brand-main-color: #e2e8f0;
  --brand-accent-color: #60a5fa;

  --page-title-color: #e2e8f0;
  --page-subtitle-color: #cbd5e1;
}
